@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Montserrat";
  margin: 0;
  height: 100vh;
  display: flex;
  position: relative;
}
*{
  font-family: "Montserrat";
}

.sidebar {
  background-image: linear-gradient(30deg, #0048bd, #44a7fd);
  border-top-right-radius: 10px;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%; 
  width: 250px;
  z-index: 1000; 
  overflow-y: auto; 
}

.sidebar ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  font-size: 18px;
  color: #fff;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #3f5efb;
  background: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar p {
  margin: 0;
  padding: 40px 10px;
  font-size: 12px;
  color: black;
  text-align: start;
}
/************************ content ************************/
.content {
  position: relative;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  margin-left: 250px;
}

.content h2{
  font-size: 35px;
  color: #334;
  margin-bottom: 30px;
  text-align: center;
}

input[type=file] {
  max-width: 100%;
  color: #222245;
  padding: 8px;
  background-color: #fff;
  margin-bottom: 10px;
}

input[type=file]:focus {
  outline: 2px dashed #222245;
  outline-offset: 2px;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  background: #007bff;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}

input[type=file]::file-selector-button:hover {
  background: #0056b3;
} 

.content .form {
  max-width: 400px; 
  margin: 50px auto; 
}

.content .form button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px; 
  display: block;
  width: 100%;
}

.succes{
  text-align: center;
  color: rgb(4, 192, 4);
}

.message {
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(15 175 15);
  border: 1px solid rgb(2, 141, 2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
}


.content form button:hover {
  background-color: #0056b3;
}

.table-wrapper{
  max-width: 100%;
  overflow: auto;
}
table {
  width: 100%; 
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px;
}

th {
  background-color: #f2f2f2; 
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.element-wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 15px;
  width: 100%;
}

.element {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.element h3 {
  margin-top: 0;
  text-align: center;
  font-size: 15px;
}

h3 {
  margin: 10px;
}
.image-element img{
  max-width: 100%;

}

.image-element{
  display: flex;
  justify-content: center;
}

.content .algo_forms{
  margin: 10px;
}

.content .algo_forms button {
  background-color: #007bff;
  color: #fff; 
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0px 20px;
}

.r2-value{
  text-align: center;
  text-decoration: solid;
  margin: 10px;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
.red {
  color: red;
}

.best_algorithm{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0px 20px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #12c99b;
}

.best_algorithm p{
  color: #fff;
  font-family: Verdana;
  margin-left: 15px;
}


.data-shape-element{
  background-color: #e0e7e9;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-shape-element p{
  font-size: 15px;
  font-weight: 500 ;
}

.data-shape-element div{
  font-size: 25px;
  text-align: center;
}